body {
    margin: 0;
    padding: 0;
    background-color: rgb(209, 209, 209);
}

.page-container {
    display: grid;
    margin: 0;
    padding: 4em 10vw 0 10vw ;
    grid-template-columns: auto;
    grid-template-rows: 30vmax auto auto;
    grid-template-areas: 
        "banner"
        "tresc"
        "stopka";
}

.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    grid-area: banner;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}

.footer {
    background-color: grey;
    grid-area: stopka;
    text-align: center;
    flex: 1;
    padding: 0,75em;
    margin: 5px;
    border-radius:5px;

    
}

@media (max-width: 900px){
    .page-container{
        padding: 4em 0 0 0;
        grid-template-rows: 40vmax auto auto;
    }
}

/* ==========
=== FLEX TRESC ===
===========*/

/* wiersze */
.main-content {
    grid-area: tresc;
    display: flex;
    flex-direction: column; /* wyrównanie do kolumn */
    align-items: normal;   /* wypełnienie obszaru */
}
/* kolumny */
.blok {
    display: flex;
    flex-wrap: wrap;
}

.arts {
    display: flex;
    background-color: gray;
    height: 50vh;
    margin: 5px;
    border-radius: 5px;
}

.blok div {
    background-color: gray;
    flex: 1;
    min-width: 55vh;
    padding: 2em;
    margin: 5px;
    border-radius: 5px;
}

.art img{
    max-width: 100%;
    border-radius: 5px;
}

.napis span{
    font-size: 2em;
    margin-left: 2em;
    color: white;

}
