body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(209, 209, 209);
}

.page-container {
    display: grid;
    padding: 0;
    margin: 5em 10vw 0 10vw ;
    gap: 1em;
    grid-template-columns: auto;
    grid-template-rows: 25vmax auto auto;
    grid-template-areas: 
        "banner"
        "tresc"
        "stopka";
}

.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    grid-area: banner;
    border-radius: 5px;
}

.footer {
    background-color: grey;
    grid-area: stopka;
    text-align: center;
    flex: 1;
    padding: 0.75em;
    border-radius:5px;

    
}

@media (max-width: 900px){
    .page-container{
        margin: 4em 5px 5px 5px;
        grid-template-rows: 40vmax auto auto;
    }
}

/* ==========
=== FLEX TRESC ===
===========*/

.main-content {
    grid-area: tresc;
}

article {
    display: flex;
    flex-direction: column; /* wyrównanie do kolumn */
    align-items: normal;   /* wypełnienie obszaru */
    background-color: gray;
    border-radius: 5px;
    padding: 1em;
}

section {
    background-color: rgb(160, 160, 160);
    border-radius: 5px;
    padding: 0.75em;
    margin-top: 1em;
}

.blok div {
    background-color: gray;
    flex: 1;
    min-width: 55vh;
    padding: 2em;
    margin: 5px;
    border-radius: 5px;
}

.art img{
    max-width: 100%;
    border-radius: 5px;
}

.napis span{
    font-size: 2em;
    margin-left: 2em;
    color: white;

}
